<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fitness.marines" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>USMCApp</name>
    <description>
        USMC Fitness App
    </description>
    <author email="daniel.hackenberger@gmail.com" href="mailto:daniel.hackenberger@gmail">
        Daniel Hsckenberger
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
